.header {
    height: 110px;
}

.header-top-container {
    border-bottom: 1px solid #EFF5F5
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 32px;
}

.header-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 68px;
}