* {
	box-sizing: border-box;
}

// body
body {
  margin: 0;
}

// container
.container {
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 1.5rem;

	@media (min-width: 1440px) {
		padding: 0;
	}
}

// icon
.icon {
	display: inline-block;
	width: 1rem;
	height: 1rem;
	vertical-align: middle;

	&--chevronDown {
		stroke-width: 3;
	}
}

.icon,
.icon svg {
	transition: all 0.15s ease;
}
